<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iot2020-fa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2e4ce293-f63c-4ca2-842c-f74ab71f0251/resourceGroups/IOT2020/providers/Microsoft.Web/sites/iot2020-fa</ResourceId>
    <UserName>$iot2020-fa</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://iot2020-fa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>